{% extends "layout.html" %}
{% block title %}细胞图像分析{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}
{% block body %}
<div class="container">
  <div class="jumbotron">
    <h1>细胞图像分析</h1>
    <p>基于深度神经网络的细胞图像分析</p>
  </div>
  <div class="row" style="margin:0 auto; display: table;">
    <button type="button" style="margin-right:100px" class="btn btn-primary btn-lg" onclick="window.location.href='segmentationView'">分割</button>

    <button type="button" class="btn btn-success btn-lg" onclick="window.location.href='detectionView'">检测</button>
  </div>
</div>
{% endblock %}
