<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% block head %}
<title>{% block title %}{% endblock %} - Cell Image Analysis</title>
{% endblock %}
<!-- <script type="text/javascript"
  src="{{ url_for('static', filename='jquery/jquery.js') }}"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe}};
</script> -->
</head>
<body>
{% block body %}
{% endblock %}

  <footer>
  <div class="container" style="position:absolute;bottom:10px; left:40%;">
      <div class="navbar-header">
          <!-- navbar logo -->
          <div class="navbar-brand">
              <a href="./">
                  ©四川大学.计算机学院.机器智能实验室
              </a>
          </div>
          <!-- navbar logo -->
      </div><!-- /.navbar-header -->

  </div>
</footer>

</body>
</html>
